.places h1 {
    font-size: 30px;
    text-align: left;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #ff5a5f 1px;
    border-radius: 4px;
}
.places article h2 {
    font-size: 30px;
    text-align: center;
}
.places .places-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.price_by_night{
    color: #ff5A5F;
    border-radius: 100px;
    border: #ff5A5F solid 4px;
    width: 60px;
    max-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty{
    width: 20px;
}
article .article {
    display: flex;
    justify-content: space-between;
}
.information{
    height: 80px;
    border-top: #dddd 1px solid;
    border-bottom: #dddd 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.max_guest, .number_rooms, .number_bathrooms{
   width: 100px;
    
}
#amenities{
    margin-top: 40px;
}
#amenities h2{
    font-size: 16px;
    border-bottom: solid 1px #DDDDDD;
    text-align: left;
}
#amenities ul li p{
    display: flex;
    align-items: center;
}
#amenities ul li p img {
    width: 30px;
    padding-right: 10px;
}

.reviews{
    text-align: left;
    margin-top: 40px;
}
.reviews h2{
    font-size: 16px !important;
    border-bottom: solid 1px #DDDDDD;
    text-align: left !important;
}